<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 align="center">Agrega un Servicio</h1>
            <br>
            <form [formGroup]='servForm' (ngSubmit) = "onSubmit()">
                <div class="form-group">
                    <label >Número</label>
                    <input type="Number" formControlName="num" placeholder="Ingresa el Número" class="form-control" min="0.0">
                    <div class="invalid-feedback" *ngIf="submitted && myForm.num.errors?.required" >
                        El número es requerido
                    </div>
                </div><br>
                <div class="form-group">
                    <label >Nombre del Servicio</label>
                    <input type="text" formControlName="nameServ" placeholder="Ingresa un Nombre" class="form-control">
                    <div class="invalid-feedback" *ngIf="submitted && myForm.nameServ.errors?.required" >
                        El nombre es requerido
                    </div>
                </div><br>
                <div class="form-group">
                    <label >Descripción</label>
                    <textarea formControlName="descServ" cols="80" class="form-control" placeholder="Ingresa una Descripción"></textarea>
                    <div class="invalid-feedback" *ngIf="submitted && myForm.descServ.errors?.required" >
                        La descripción es requerido
                    </div>
                </div><br>
                <div class="form-group">
                    <label >Unidad</label>
                    <input type="text" formControlName="unidServ" placeholder="Ingresa la Unidad" class="form-control" min="0.0">
                    <div class="invalid-feedback" *ngIf="submitted && myForm.unidServ.errors?.required" >
                        La unidad es requerida
                    </div>
                </div><br>
                <div class="form-group">
                    <label >Precio</label>
                    <input type="Number" formControlName="precioServ" placeholder="Ingresa el Precio" class="form-control" min="0.0">
                    <div class="invalid-feedback" *ngIf="submitted && myForm.precioServ.errors?.required" >
                        La precio es requerido
                    </div>
                </div><br>
                <button type="submit" class="btn btn-primary btn-block">Agregar Servicio</button><br>
                <a href="/servicio-list" text-align="center" > Volver </a>  
            </form>
        </div>
    </div>
</div>