<div class="row justify-content-center">
    <div class="col-md-4 register-employee">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Editar Servicio</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="editServForm" (ngSubmit)="onSubmitEditS()"> 
                    <div class="form-group">
                        <label for="imputName">Número</label>
                        <input class="form-control" type="text" formControlName="num">
                        <div class="invalid-feedback" *ngIf="submitted && myForm.num.errors?.required">
                            Nombre es requerido.
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label for="inputEmail3">Nombre del Servicio</label>
                        <input class="form-control" type="text" formControlName="nameServ">
                        <div class="invalid-feedback" *ngIf="submitted && myForm.nameServ.errors?.required">
                            Ingresa el nombre
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label for="inputName">Descripción</label>
                        <textarea formControlName="descServ" cols="80" class="form-control" placeholder="Ingresa una Descripción"></textarea>
                        <div class="invalid-feedback" *ngIf="submitted && myForm.descServ.errors?.required">
                        Descripción es requerido
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label for="inputName">Unidad</label>
                        <textarea formControlName="unidServ" cols="80" class="form-control" placeholder="Ingresa una Descripción"></textarea>
                        <div class="invalid-feedback" *ngIf="submitted && myForm.unidServ.errors?.required">
                        Unidad es requerida
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label >Precio</label>
                        <input type="Number" formControlName="precioServ" placeholder="Ingresa la Cantidad" class="form-control" min="0.0">
                        <div class="invalid-feedback" *ngIf="submitted && myForm.precioServ.errors?.required" >
                            Precio es requerido
                        </div>
                    </div><br>
                    <button type="submit" class="btn btn-primary btn-block">Actualizar</button><br>
                    <a href="/servicio-list" text-align="center">Volver</a>
                </form>
            </div>
        </div>
    </div>
</div>
